    
    .tab-wrapper {
        display: flex;
        align-items: center;
        position: relative;
    }
    .tab-container {
        display: flex;
        gap: 10px;
        align-items: center;
        white-space: nowrap; /* Prevent items from wrapping */
        scroll-behavior: smooth; /* Smooth scrolling */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        @mixin pointer-cursor {
            cursor: pointer;
        }
        &__active {
            background: white  !important;
            @include pointer-cursor
        }
        &__deActive {
            background: rgba(255, 255, 255, 0.6) !important;
            @include pointer-cursor
        }
    }
    .flex-item {
        display: flex;
        align-items: center;
    }
    .button-cover { 
        background: transparent;
        cursor: pointer;
        width: fit-content;
        padding: 2px !important;
    }
   
//   /* Mobile */
//   @media only screen and (max-width: 767px) {
//     .tab-container {
//       max-width: 70vw;
//       overflow-x: auto;
//     }
//   }
  
//   /* Tablet */
//   @media only screen and (min-width: 768px) and (max-width: 1024px) {
//     .tab-container {
//       max-width: 70vw;
//       overflow-x: auto;
//     }
//   }
  
//   /* Desktop */
//   @media only screen and (min-width: 1025px) {
//     .tab-container {
//       max-width: 70vw;
//       overflow-x: auto;
//     }
//   }
  