.headerContainer {
    background: #E93F7C;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-cover { 
    background: transparent;
    cursor: pointer;
    width: fit-content;
    padding: 2px !important;
}